.prose h2 {
    border-bottom: 2px solid rgba(255,255,255,0.1);
    padding-bottom: 0.5rem;
    margin: 2rem 0;
    font-size: 3rem;
}

.prose h3 {
    border-bottom: 2px solid rgba(255,255,255,0.1);
    padding-bottom: 0.5rem;
    margin: 2rem 0;
    font-size: 2rem;
}

.prose p {
    font-size: 1.2rem;
}

.prose li {
    font-size: 1.2rem;
    list-style: square;
}